*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: #e5e5e5; */
}


body {
  font-family: sans-serif;
  background-color: #e5e5e5;
}

header {
  text-align: center;
  padding: 20px;
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 5rem;
  color: white;
  background-color: #333333;
  height: 7rem;
}